<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:href="@{/css/normalize.css}" rel="stylesheet"/>
    <link th:href="@{/css/foundation.css}" rel="stylesheet"/>
</head>
<body>
<div class="row">
    <div class="large-4 large-offset-4 columns">
        <a th:href="@{/login}">
            <button class="button">Log in</button>
        </a>
        <a th:href="@{/register}">
            <button class="button">Register</button>
        </a>
    </div>
</div>
</body>
</html>