<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:href="@{/css/normalize.css}" rel="stylesheet"/>
    <link th:href="@{/css/foundation.css}" rel="stylesheet"/>
</head>
<body>
<div class="row">
    <div class="large-4 columns">
        <div th:if="${param.error}">
            <label class="error">Invalid combination of username and password.</label>
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <fieldset>
                <label> User Name : <input type="text" name="username"/> </label>
                <label> Password: <input type="password" name="password"/> </label>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="submit" class="button" value="Sign In"/>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>